<% include ./partials/header %>


<!--<form action="/user/login" method="POST">-->
<!--    <input type="text" name="fullname" placeholder="name">-->
<!--    <input type="text" name="username" placeholder="username">-->
<!--    <input type="password" name="password" placeholder="password">-->
<!--    <input type="submit" value="Login!">-->
<!--</form>-->


<div class="ui container">
    <div style="width: 30%; margin: 25px auto;" class="ui floating message">
        <p style="text-align: center;">Please log in to unlock more actions!</p>
    </div>
        <h1 id="sign-up">Login</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form class="ui form center" action="/user/login" method="POST">
                
                <div class="field">
                    <input type="text" name="username" placeholder="username">
                </div>
                
                <div class="field">
                    <input type="password" name="password" placeholder="password">
                </div>
                
                <button class="ui primary button" type="submit">Login</button>
            </form>
        </div>
    </div>

     <% include ./partials/footer-fixed %>